body {
	background: #222;
}

#playground {
	display: block;
	overflow: hidden;
	width: 800px;
	height: 384px;
	top: 10%;
	left: 50%;
	margin-left: -400px;
	background: #ddd;
}

#midground {
	top: 128px;
}

#track {
	top: 256px;
}